.im{
	object-fit: cover;
  margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.container{
	padding-top : 160px;
	padding-bottom: 160px;
	display: flex;
	justify-content: space-around;
	flex-wrap:  wrap;
	text-align: center;

}
.container2{
	padding-top : 160px;
	padding-bottom: 160px;
	display: flex;
	justify-content: space-around;
	flex-wrap:  wrap;
	text-align: center;
}
footer{
	padding-bottom: 160px;
	bottom: 0;
	background-color: salmon;
	display: flex;
	justify-content: space-around;
}
nav{
	color: white;
	padding: 1px;
 background-color: dodgerblue;

}
/* .logo{
	object-fit: cover;
  margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content:center;

	text-align: center;
	position: absolute;
  height: 140px;
  top: 30px;
 left: calc(50% - 190px);
} */
video{
	width: 100%;
}